.azad-heading{
    font-size:60px;
}
body{font-family: 'Unbounded', cursive;}
.corses-icon{
    width: 70px;
    height: 70px;
}

.feauture-img{
    border-radius: 50%; width: 424px;
    height: 424px;
}